body{
  margin: 0;
  text-align: center;
  background-color: #FDEFEF;
  font-family: 'Merriweather', serif;
}
html,body,.collapse{
  scroll-behavior: smooth;
  scroll-padding: 6.875rem;
}
h2{
  text-align: center;
  color: #E43F5A;
  font-family: 'Montserrat-Bold', sans-serif;
}
h5{
  text-align: center;
  color: #E43F5A;
  font-weight: bold;
}
p{
  text-align: center;
  line-height: 2;
  font-family: 'Balsamiq Sans', cursive;
  font-size: large;
}
hr{
  border: dotted #911F27;
  border-bottom: none;
  width: 6%;
  margin: 55px auto 55px auto;
}
a{
  color: #272727;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #FDEFEF;
}
/* @@@@@@@@@@ top-container @@@@@@@@@@ */
.navbar{
  background-color:#272727;
}
.item-bar{
  padding-right: 4.1rem;
}
.dropdown-menu{
  background-color: #272727;
}
.dropdown-item{
  color: #FDEFEF;
  width: 80%;
  border-radius: 47%;
}
.top-container{
  background-color: #E43F5A;
  padding: 3.5rem 0 2rem;
  margin: 3% 0;
}
.row{
  margin: 3% 2.5%;
}
.h1headtitle{
  font-size: 2.925em;
  color: #FDEFEF;
  width: 35%;
  margin: 1% auto;
  font-family: 'Sacramento', cursive; /* Sac dose not working chkit */
}

.h4title{
  color: #FDEFEF;
  width: 90%;
  margin: 1% auto;
  font-family: 'Montserrat', sans-serif;
}
@media (max-width: 1028px){
  .h4title{
    width: 80%;
  }
}
@media (max-width: 991px){
  .h4title{
    width: 100%;
  }
}
.data-img2{
  padding-left:2.1875rem ;
} 
.data-img{
  padding-right:2.1875rem  ;
  box-sizing: content-box;
}
.img{
  opacity: 0.7;
}

/* @@@@@@@@@@ top-container @@@@@@@@@@ */


/* @@@@@@@@@@ middle-container @@@@@@@@@@ */
 .skill-row{
  width: 80%;
  /* text-align: left; */
  margin: 5% auto 10.5%;
}

#volunteering{
  /* width: 50%; */
  text-align: left;
  margin: 6.25rem auto;
  line-height: 2;
}

#prog-lang{
  background-color: #E43F5A;
  width: 100%;
  padding: 3% 0;
}
#software{
  padding-top: 6.25rem;
}

.Summary{
  font-family: 'Montserrat', sans-serif;
  padding: 100px 0 ;
}

.contact-message{
  width: 30%;
  margin: 40px auto 60px ;
}

.star-icon{
  color: #000000;
}
.star-icon:hover{
  color:#FDEFEF;
}
.lang-h3{
  font-family: 'Bebas Neue', cursive;
  font-size:xx-large;
  padding-bottom: 3%;
  color: #FDEFEF;
}
.software-tr:hover{
  color:aqua;
}

th{
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  color: #171717;
}

th:hover{
  color: #FDEFEF;
}

.software-th{
  color: #000000;
}
.software-tr:hover{
  color: aqua;
}
.software-th:hover{
  color: aqua;
}

td{
  font-family: 'Balsamiq Sans', cursive;
  font-size: large;
}


/* @@@@@@@@@@ carousel-container @@@@@@@@@@ */

.caro-inner{
  padding:10% 30%;
  background-color: #222831;
}


.caro-caption{
  top: 100%;
  right: 100%;
  left: -1.25rem;
  font-size: large;
  width: 110%;
}

.caro-item{
  margin-bottom: 15%;
}

/* 
} */


/* @@@@@@@@@@ carousel-container @@@@@@@@@@ */

.jumbotron{
  text-align: left;
  font-family: 'Public Sans', sans-serif;
}
.span-icon{
  background-color: #E43F5A;
  border-radius: 20%;
}

/* @@@@@@@@@@ middle-container @@@@@@@@@@ */

/* @@@@@@@@@@ bottom-container @@@@@@@@@@ */
.bottom-container{
  background-color: #E43F5A;
  padding-top: 40px;
  padding-bottom: 30px;
}
.card{
  font-family: 'Public Sans', sans-serif;
}

.copyright{
  color: #FDEFEF;
  font-size: 0.80em;
  padding: 20px 0;
  margin: 0;
}
.fab-icon{
  padding: 5px 35px;
}



